/* src/app/photo-list/photo-list.component.css */
.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  background-color: #f8f9fa;
}
img {
  min-width: 50px;
  min-height: 50px;
}
.photo-item {
  flex: 0 1 calc(25% - 32px); /* Four items per row, with spacing */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: #fff;
}

.photo-item:hover {
  transform: scale(1.05);
}

.photo-item img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #ddd;
}

.photo-item p {
  margin: 8px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
